.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    border: 2px solid red;
    height: 40px;
    background-color: pink;
}
ul{
    list-style-type: none;
}
ul li{
    float: left;
    margin-top: 1px;
}
ul li a{
    text-decoration: none;
    padding: 10px;
    color: #000000;
    background-color: green;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 2px;
    color: #ffffff;
}
.navmenu{
    margin: 10px;
}
.section-one{
    width: 100%;
    margin-top: 10px;
    height: 100px;
}
.image1,.image2,.centecontent{
    float: left;
}
.image1,.image2{
    width: 10%;
    border:2px solid #000000;
    height: 100px;
}
.centecontent{
    width: 77%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
    border: 2px solid #000000;
}
.footer{
    border: 2px solid red;
    height: 50px;
    margin-top: 10px;
}